keybinds clear-defaults=true {
    normal {
        bind "Ctrl Space" { SwitchToMode "Tmux"; }
        // Optional: allow Ctrl-C / Ctrl-D to pass through if accidentally in tmux mode
        bind "Ctrl c" { Write 3;  }
        bind "Ctrl d" { Write 4;  }
    }

    tmux {
        // Press prefix again to leave tmux mode
        bind "Ctrl Space" { SwitchToMode "Normal"; }

        // Optional: allow Ctrl-C / Ctrl-D to pass through if accidentally in tmux mode
        bind "Ctrl c" { Write 3; SwitchToMode "Normal"; }
        bind "Ctrl d" { Write 4; SwitchToMode "Normal"; }

        // Leave tmux mode without action
        bind "Esc" { SwitchToMode "Normal"; }

        // tmux-like actions
        bind "\"" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "%" { NewPane "Right"; SwitchToMode "Normal"; }

        bind "c" { NewTab; SwitchToMode "Normal"; }

        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "X" { CloseTab; SwitchToMode "Normal"; }

        bind "h" "Left"  { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "j" "Down"  { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "k" "Up"    { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "l" "Right" { MoveFocus "Right"; SwitchToMode "Normal"; }

        bind "n" { GoToNextTab; SwitchToMode "Normal"; }
        bind "p" { GoToPreviousTab; SwitchToMode "Normal"; }
        bind "o" { FocusNextPane; SwitchToMode "Normal"; }

        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "Space" { NextSwapLayout; SwitchToMode "Normal"; }
        bind "d" { Detach; }
    }
}

plugins {
    about location="zellij:about"
    compact-bar location="zellij:compact-bar"
    configuration location="zellij:configuration"
    filepicker location="zellij:strider" {
        cwd "/"
    }
    plugin-manager location="zellij:plugin-manager"
    session-manager location="zellij:session-manager"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    tab-bar location="zellij:tab-bar"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
}
load_plugins {
    zellij:link
}
web_client {
    font "monospace"
}
theme "gruvbox-dark"
default_mode "normal"
default_shell "nu"
show_startup_tips false
